.box-content {
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 100%;
}



.box-form {
    max-width: 380px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    align-items: stretch;
}

.box-form form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.box-input {
    align-items: stretch;
    padding-bottom: 20px;
}
.center {
    text-align: center;
}

.text-link {
    font-size: 1em;
    text-decoration: underline;
    color: #000;
}