.box-content-site {
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 100%;
}

.box-todos {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px;
}


.list-todo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.list-todo .todo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.todo .check {
    margin-right: 15px;
    width: 20px;
}

.todo .todo-text {
    color: #707070;
    font-size: 1em;
    margin-right: 10px;
}

.todo-text-completed {
    color: #707070;
    font-size: 1em;
    margin-right: 10px;
    text-decoration: line-through;
}

.todo .btn-remove-todo {
    color: rgb(243, 41, 41);
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.box-new-task {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
}

.input-new-task {
    width: 300px;
    max-width: 100%;
    height: 40px;
    padding-left: 15px;
    border-radius: 15px  0 0 15px;
    border: 1px solid #707070;
}

.btn-new-task {
    background-color: #071AC8;
    color: #fff;
    width: 150px;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 1em;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    display: block;
    height: 40px;
    padding: 0 18px;
}

@media only screen and (max-width: 800px) {
    .box-content-site {
        flex-direction: column;
        height: 180px;
    }
}

@media only screen and (max-width: 400px) {
    .btn-new-task {
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 15px;
        
    }
    
    .input-new-task {
        border-radius: 0;
    }
    
}